body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f8fafc;
    color: #333;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background: #0f172a;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Hero */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: #e2e8f0;
}

.hero h1 {
    font-size: 40px;
    color: #0f172a;
}

/* Sections */
section {
    padding: 50px;
    text-align: center;
}

/* Cards */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    width: 220px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* Donate */
.donate {
    background: #e2e8f0;
}

input {
    padding: 10px;
    margin: 6px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Button */
button {
    padding: 10px 20px;
    background: #0f172a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #1e293b;
}

/* Footer */
footer {
    background: #0f172a;
    color: white;
    padding: 10px;
}